<%- include('partials/header.ejs'); %>
<h1 id="title">UK Inventory Suggestions</h1>
<h3>Last Updated: <%= moment(rows1[0].date).format('MMM Do YYYY, hh:mm a'); %></h3>
<table class="ui celled structured striped table" id="data">
    <thead>
        <th>Product Name</th>
        <th>SKU</th>
        <th>US Quantity</th>
        <th>UK Quantity</th>
    </thead>
    <tbody>
        <% for(var i =0; i < rows1.length; i++) { %>
        <% if(rows1[i].USA == 0 && rows1[i].Westacott_Rd == 0){ %>
        <% } else if(rows1[i].USA == 0) { %>
        <% } else { %>
        <tr>
            <td><a href="#" class="test" data-id="<%= rows1[i].sku %>"><%= rows1[i].title %></a></td>
            <td><%= rows1[i].sku %></td>
            <td><%= rows1[i].USA %></td>
            <td><%= rows1[i].Westacott_Rd %></td>
        </tr>
        <% }; %>
        <% } %>
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('.demo.menu .item').tab({ history: false });
        $('#data').before('<div id="before" class="ui pagination menu"></div><br><br>');
        var rowsShown = 75;
        var rowsTotal = $('#data tbody tr').length;
        var numPages = rowsTotal / rowsShown;
        for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $('.ui.pagination.menu').append('<a href="#top" class="item" rel="' + i + '">' + pageNum + '</a> ');
        }
        $('#data tbody tr').hide();
        $('#data tbody tr').slice(0, rowsShown).show();
        $('.ui.pagination.menu a:first').addClass('active');
        $('.ui.pagination.menu a').bind('click', function () {
            $('.ui.pagination.menu a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#data tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                css('display', 'table-row').animate({ opacity: 1 }, 300);
        });
    });
    var sku;
    $(function () {
        $(".test").click(function () {
            $(".click").modal('show');
            sku = $(this).attr('data-id');
            console.log(sku);
        });
        $(".click").modal({
            closable: true
        });
    });
</script>
<%- include('partials/footer.ejs'); %>