<html>
    <head>
        <title>Label Printer</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
        <style type="text/css">
        @page { 
            size: letter 
        }    
            body {
                font-size: 12px;
            }
            td {

                width: 2.57in;
                height: 0.99in;
                margin: 0;
                vertical-align: top;
                -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
                padding-top: 0.05in;
                padding-bottom: 0.05in;
                padding-left: 0.11in;
                padding-right: 0.11in;
                overflow: hidden;
                text-align: center;
                font-size: 12px;
            }
            td.separator {
	            width: 0.20in;
            }
            .spacer {
                height: 22px;
            }

        </style>
        <script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/barcodes/JsBarcode.code128.min.js"></script>     
    </head>
    <body class="letter">
        <section class="sheet padding-10mm">
        <article>
        <table>
            <tr>
<% var x = 0; %>
<% for (var j = 0; j < data.length; j++) { %>
<% for (var i = 0; i < data[j].orders.length; i++) { x++; %>
        <td class="seperator">    
        <svg id="barcode<%= [j] %>-<%= [i] %>"></svg>         
        <script type="text/javascript">JsBarcode("#barcode<%= [j] %>-<%= [i] %>", "<%= data[j].orders[i].name %>", {
           width: 1.5,
           height: 30,
           fontSize: 12 
        });</script>
        <%= data[j].orders[i].shipping_address.first_name %> <%= data[j].orders[i].shipping_address.last_name %>
        
        </td>
        <% if (x % 3 == 0) { %>
        </tr>
        <tr>
        <% } %>
        <% if (!(x % 30)) { %>
        </tr>
    </table>
    </section>
    </article>
    <section class="sheet padding-10mm">
    <article>
                <table>
            <tr>        
        <% } %>
        <% }; %>
        <% }; %>
        </tr>
        </table>
        </section>
        </article>
    </body>
</html>